@import url('./colors.less');

@btn-font-weight: 500;

.utility-billing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.utility-billing-btn-circle {
  border: none;
  background-color: @blue-100;
}
